<!DOCTYPE html>
<html>
<head>
	<title>Madplan</title>
</head>
<body>
	<h1>Madplan for mandag til onsdag</h1>

	<h2>Mandag</h2>
	<ul>
		<li>Grillet kyllingebryst med ovnbagte grøntsager</li>
	</ul>

	<h2>Tirsdag</h2>
	<ul>
		<li>Spaghetti med kødsovs og salat</li>
	</ul>

	<h2>Onsdag</h2>
	<ul>
		<li>Fyldte græskar med ris og grøntsager</li>
	</ul>
</body> 
</html>
